body {
  background: red;
  color: white;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  height: 100%;
}

.bungkus {
  width: 700px;
  margin: 30px auto;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#detik,
#puluh {
  font-size: 2em;
}

button {
  background-color: red;
  color: white;
  border: solid 1px white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 20px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}
