body {
  background-color: #d2daff;
}

hr {
  border-style: dotted none none;

  border-width: 6px;
  border-color: rgb(157, 220, 20);
  width: 2%;
}

h1 {
  color: #198215;
}
h3 {
  color: #66bfbf;
}
